In [2]:
#DemoPanda.ipynb
from pandas import Series, DataFrame
import pandas as pd

#시리즈 객체를 생성
multi= Series([100,200,300,400,500])
print(multi)
print(type(multi))

0    100
1    200
2    300
3    400
4    500
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
#인덱싱
multi[1]

200

In [5]:
multi= Series([100,200,300,400,500],
              index=["2024-03-01","2024-03-02","2024-03-03","2024-03-04","2024-03-05"])
multi["2024-03-01"]

100

In [6]:
import numpy as np
data = np.arange(5)
s=Series(data)
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [7]:
data = [1000, 2000, 3000]
s=Series(data)
s.index=["메로나","구구콘","하겐다즈"]
s

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [8]:
data = [1000, 2000, 3000]
index=["메로나","구구콘","하겐다즈"]
s=Series(data=data,index=index)
s

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [9]:
data = [1000, 2000, 3000]
index=["메로나","구구콘","하겐다즈"]
s=Series(data=data,index=index)
s2= s.reindex(["메로나","비비빅","구구콘"])
s2

메로나    1000.0
비비빅       NaN
구구콘    2000.0
dtype: float64

In [10]:
s2.fillna(0)

메로나    1000.0
비비빅       0.0
구구콘    2000.0
dtype: float64

In [12]:
#주식 데이타 
data = { "foreigner":[1, 2, 3, 4, 5, 6], 
            "sratio":[10, 20, 30, 40, 50, 60], 
            "org":[100, 200, 300, 400, 500, 600], 
            "sprice":[1, 2, 3, 4, 5, 6], 
            "private":[10, 20, 30, 40, 50, 60] 
        }
#데이터프레임
frame = DataFrame(data)
frame

   foreigner  sratio  org  sprice  private
0          1      10  100       1       10
1          2      20  200       2       20
2          3      30  300       3       30
3          4      40  400       4       40
4          5      50  500       5       50
5          6      60  600       6       60

In [16]:
frame2 = DataFrame(data, columns=["foreigner","private","org","sratio","sprice"],
                   index=["2024-03-01","2024-03-02","2024-03-03","2024-03-04","2024-03-05","2024-03-06"])
print(type(frame2.loc["2024-03-02"]))
frame2

<class 'pandas.core.series.Series'>

            foreigner  private  org  sratio  sprice
2024-03-01          1       10  100      10       1
2024-03-02          2       20  200      20       2
2024-03-03          3       30  300      30       3
2024-03-04          4       40  400      40       4
2024-03-05          5       50  500      50       5
2024-03-06          6       60  600      60       6

In [17]:
frame2.T

           2024-03-01  2024-03-02  ...  2024-03-05  2024-03-06
foreigner           1           2  ...           5           6
private            10          20  ...          50          60
org               100         200  ...         500         600
sratio             10          20  ...          50          60
sprice              1           2  ...           5           6

[5 rows x 6 columns]

In [18]:
data = {
    "종목코드":["037730","037360","005760"],
    "종목명":["3R","3SOFT","ACTS"],
    "현재가":[1510,1790,1185]
}
df = DataFrame(data)
df

     종목코드    종목명   현재가
0  037730     3R  1510
1  037760  3SOFT  1790
2  005760   ACTS  1185

In [27]:
data = [["037730","3R",1510],
        ["037360","3SOFT",1790],
        ["005760","ACTS",1185]
    ]
    
#컬럼명
columns = ["종목코드","종목명","현재가"]
df =DataFrame(data=data, columns=columns)
#색인컴럼을 지정
df=df.set_index("종목코드")
#df["현재가"]
df.loc["037730"]

종목명      3R
현재가    1510
Name: 037730, dtype: object